doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon' href='img/favicon.png')
    link(rel='stylesheet' href='css/styles.css')

  body
    p users connected: #[span#connected]

    #canvas-container
      canvas#canvas

    #controls
      button#undo undo
      button#color-button(class="jscolor {hash:true, valueElement:'color', styleElement:'brush'}") color
      | color:
      input#color
      | width:
      input#width(type='range' value='5' min='1' max='50' name='width')
      input#widthField
      #brush-preview
        #brush-style
          #brush

    #messageForm
      form
        input#message(placeholder='send message')
        input#submit(type='submit' value='send')

    #messages-container
      | messages:
      ul#messages

    script(src='lib/jquery-1.12.0.min.js')
    script(src='lib/fabric.min.js')
    script(src='lib/socket.io.js')
    script(src='lib/jscolor.min.js')
    script(src='js/blackboard.js')
    script(src='js/events.js')
