body
  background-color: rgba(255, 255, 0, 0.5)
  //background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");

.canvas-container
  margin: 0 auto

#brush-style
  border-radius: 100%

.user
  border-radius: 100%
