#container
  width: 100%
  border: 1px solid black
  display: inline-block

#canvas-container
  float: left
  display: inline-block
  border: 20px solid #8A281D

#messages-container
  width: 100px
  float: left
  border: 1px solid black

#controls
  clear: both
